body{
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  .container{
    // xybsc
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    width: 50%;
    margin: 0 auto;
    .row{
      margin: 20px;
      padding: 40px 0px;
    .card-content{
      border-bottom: 1px solid grey;
    }
    //first heading
    .card-title{
      font-size: 20px;
      color: grey;
      padding: 20px 40px;
    } //input field
    .input-field{
      width: 100%;
      position: relative;
      line-height: 0.3;
      color: grey;
      #task{
        font-size: 16px;
        font-family: monospace;
        width: 100%;
        border: none;
        border-bottom: 2px solid lightgrey;
      } //label for input field above
      label{
        position: relative;
        padding-bottom: 5px;
        font-size: 16px;
      }
    } //input field ENDS
    .btn{//Submit button below input field
      margin-left: 50%;
      transform: translateX(-50%);
      padding: 8px 20px;
      background-color: #2AA599;
      font-size: 16px;
      color: white;
      text-transform: uppercase;
      border: none;
      box-shadow: 2px 2px 2px 1px #2AA599 ;
      margin-top: 40px;
    } //HOVER ON ADD TASK BUTTON
    .btn:hover{
      color: #2AA599;
      font-weight: 600;
      font-size: 18px;
      background-color: white;
    }
  } //row Ends here
    .card-action{
      padding: 10px 20px;
      #task-title{
        font-size: 20px;
        font-weight: 400;
        color: black!important;
        padding: 20px 20px;
      }
      .input-filter{
        width: 100%;
        position: relative;
        line-height: 0.3;
        font-size: 18px;
        color: black!important;
        #filter{
          font-size: 18px;
          color: black!important;
          width: 100%;
          border: none;
          border-bottom: 2px solid lightgrey;
        }
      } //input filter ends
        .collection{
          padding: 20px;
          display: block;
          list-style: none;
          .collection-item{ //JS appended
          padding: 20px;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          .delete-item{
            width: 20px;
            float: right;
            text-align: center;
            }
          } //HOVER ON DELETE TASK BUTTON
          .delete-item:hover{
            color: red;
            font-size: 20px;
          }
        } //ul collection ends here
        .clear-tasks-btn{
          display: block;
          width: 110px;
          margin: 0 auto;
          padding: 8px 20px;
          background-color: black;
          box-shadow: 2px 2px 2px 1px black;
          font-size: 16px;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
        } //HOVER ON CLEAR TASKS BUTTON
        .clear-tasks-btn:hover{
          color: red;
          font-weight: 600;
          font-size: 18px;
          background-color: white;
          width: 125px;
        }
    } //card Action 2 ends here
  } //container ENDS
}
