{
      "/preset": [
            ["env", { //line 22 on .json
                  "targets":{
                        "browsers":[
                              "last 5 versions",
                              "ie>= 8"
                        ]
                  }
            }]                   
      ]
}